doctype html
html
  head
    title Concert Finder
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet", href="/assets/stylesheets/layout.css")
    block head
  body
    #container
      block container
